body {
	font-family: 'Lexend', sans-serif;
}

.container {
	width: 80%;
	margin: 0 auto;
}

nav.navbar {
	padding: 1.8em 0;
	box-shadow: 0px 4px 12px -4px rgba(56, 108, 123, .2);
}

.container.main-content {
	min-height: calc(100vh - 180px);
	padding: 3em 0;
}

footer {
	color: #acacac;
	padding: 1em 0;
	box-shadow: 0px 4px 12px 4px rgba(56, 108, 123, .2);
}

footer .container {
	text-align: center;
}
